<%- include("partials/header"); %>
<div class="container">
  <h1 class="main-heading mob-center">Compose</h1>
  <form action="" method="post">
    <div class="form-group mob-center">
      <label for="title" class="my-2">Title</label>
      <input type="text" name="postTitle" id="title" class="form-control" />
    </div>
    <div class="form-group mob-center">
      <label for="blogPost" class="my-2">Post</label>
      <textarea
        name="postBody"
        id="blogPost"
        class="form-control"
        rows="10"
      ></textarea>
    </div>
    <div class="form-group mob-center">
      <a href="/" class="btn btn-dark my-3 me-4">Back to Home</a>
      <input type="submit" class="btn btn-dark my-3" value="Publish" />
    </div>
  </form>
</div>
<%- include("partials/footer"); %>
